/* 
    Document   : domain.css
    Created on : Oct 11, 2012, 1:42:03 PM
    Author     : DANIEL
    Description:
        Purpose of the stylesheet follows.
*/


/*#header-info {
  padding: 5px;
  background-color: #5CCCCC;
  font-weight: bolder;
  font-size: 14;
}

.body_1 {
  background-color: #B74739;
  font-size: 20;
  color: #white;
}*/